#welcome__container {
    width: 100%;
    padding: 50px 20px;
    // height: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

@keyframes slideTitle {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes blink {
    0% {
        color: $neon--pink;
    }
    2% {
        color: transparent;
    }
    4% {
        color: $neon--pink;
    }
    10% {
        color: transparent;
    }
    12% {
        color: $neon--pink;
    }
}

#welcome__title {
    // position: fixed;
    // top: 0;
    // left: 0;
    display: flex;
    // padding: 50px;
    width: max-content;
    min-width: 100%;
    overflow: hidden;
    cursor: default;
    // width: 200%;
    animation: slideTitle 25s linear infinite;
    font-family: 'future_lightregular', Arial, Helvetica, sans-serif;
    >h1 {
        padding-right: 150px;
        font-size: 14rem;
        text-transform: uppercase;
        color: $neon--pink;
        // color: rgb(241, 50, 225);
        text-shadow: 0 0 30px $neon--pink--60;
        white-space: nowrap;
        // animation: blink 2s linear infinite alternate;
        // &::after {
        //     content: "✨";
        //     font-size: 0.8em;
        // }
    }
}

#shopProp {
    display: flex;
    flex-direction: column;
    gap: 50px;
    border: 8px solid $neon--pink;
    box-shadow: 0 0 40px $neon--pink--60, inset 0 0 40px $neon--pink--60;
    border-radius: 30px;
    padding: 50px;
    // padding: 20px;
    // background: white;
    // border: 1px solid rgba(0, 0, 0, 0.2);
    // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    >div {
        width: 100%;
        display: flex;
        flex-direction: column;
        &#shopProp__productType>div {
            display: flex;
        }
    }
    color: white;
    input {
        border: $neon--pink 5px solid;
        background: transparent;
        font-size: 3rem;
        color: inherit;
        &[type=submit] {
            background-color: $neon--pink;
        }
        &[type=radio] {
            appearance: none;
            width: 30px;
            height: 30px;
            margin-right: 20px;
            &:checked {
                background-color: $neon--pink;
                box-shadow: 0 0 20px $neon--pink--60;
            }
        }
    }
    label {
        font-size: 3rem;
    }
}

// * {
//     outline: red 10px solid;
// }