#section-vs {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    >div,
    >form {
        background: white;
        padding: 30px;
    }
    >div {
        flex: 1;
        display: flex;
        justify-content: space-between;
        // align-items: baseline;
        align-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 20px;
        >div {
            padding-bottom: 10px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: baseline;
            border-bottom: 1px solid black;
            gap: 10px;
            >* {
                min-width: 300px;
            }
        }
        >table {
            width: 100%;
            align-self: flex-end;
            td {
                padding-top: 5px;
            }
            td:last-of-type {
                text-align: right;
            }
        }
    }
    >form {
        width: 100%;
        table {
            width: 100%;
            td {
                padding-top: 20px;
                vertical-align: middle;
                &:first-of-type {
                    width: max-content;
                    white-space: nowrap;
                    text-overflow: none;
                    padding-right: 50px;
                    min-width: 200px;
                }
                &:last-of-type {
                    width: 100%;
                }
            }
        }
        input {
            padding: 0;
            margin-right: 40px;
            &[type=range] {
                width: 100%;
            }
        }
    }
}