/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'future_lightitalic';
  src: url("./assets/fonts/future_light_italic.woff2") format("woff2"), url("./assets/fonts/future_light_italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'future_lightitalic';
  src: url("./assets/fonts/future_light_italic.woff2") format("woff2"), url("./assets/fonts/future_light_italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'future_lightregular';
  src: url("./assets/fonts/future_light.woff2") format("woff2"), url("./assets/fonts/future_light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'future_lightregular';
  src: url("./assets/fonts/future_light.woff2") format("woff2"), url("./assets/fonts/future_light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  background: #2a2835;
  overflow-x: hidden;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
}

h1,
h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.txt--light {
  color: #a0a0a0;
}

strong {
  font-weight: 700;
}

input:not(input[type=radio]) {
  outline: none;
  border: 1px solid black;
  padding: 10px 20px;
}

label {
  margin-bottom: 5px;
}

#welcome__container {
  width: 100%;
  padding: 50px 20px;
}

@-webkit-keyframes slideTitle {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes slideTitle {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@-webkit-keyframes blink {
  0% {
    color: #d300cc;
  }
  2% {
    color: transparent;
  }
  4% {
    color: #d300cc;
  }
  10% {
    color: transparent;
  }
  12% {
    color: #d300cc;
  }
}

@keyframes blink {
  0% {
    color: #d300cc;
  }
  2% {
    color: transparent;
  }
  4% {
    color: #d300cc;
  }
  10% {
    color: transparent;
  }
  12% {
    color: #d300cc;
  }
}

#welcome__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 100%;
  overflow: hidden;
  cursor: default;
  -webkit-animation: slideTitle 25s linear infinite;
          animation: slideTitle 25s linear infinite;
  font-family: 'future_lightregular', Arial, Helvetica, sans-serif;
}

#welcome__title > h1 {
  padding-right: 150px;
  font-size: 14rem;
  text-transform: uppercase;
  color: #d300cc;
  text-shadow: 0 0 30px #d300cc99;
  white-space: nowrap;
}

#shopProp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  border: 8px solid #d300cc;
  -webkit-box-shadow: 0 0 40px #d300cc99, inset 0 0 40px #d300cc99;
          box-shadow: 0 0 40px #d300cc99, inset 0 0 40px #d300cc99;
  border-radius: 30px;
  padding: 50px;
  color: white;
}

#shopProp > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#shopProp > div#shopProp__productType > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#shopProp input {
  border: #d300cc 5px solid;
  background: transparent;
  font-size: 3rem;
  color: inherit;
}

#shopProp input[type=submit] {
  background-color: #d300cc;
}

#shopProp input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

#shopProp input[type=radio]:checked {
  background-color: #d300cc;
  -webkit-box-shadow: 0 0 20px #d300cc99;
          box-shadow: 0 0 20px #d300cc99;
}

#shopProp label {
  font-size: 3rem;
}

#section-vs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

#section-vs > div,
#section-vs > form {
  background: white;
  padding: 30px;
}

#section-vs > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

#section-vs > div > div {
  padding-bottom: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  border-bottom: 1px solid black;
  gap: 10px;
}

#section-vs > div > div > * {
  min-width: 300px;
}

#section-vs > div > table {
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#section-vs > div > table td {
  padding-top: 5px;
}

#section-vs > div > table td:last-of-type {
  text-align: right;
}

#section-vs > form {
  width: 100%;
}

#section-vs > form table {
  width: 100%;
}

#section-vs > form table td {
  padding-top: 20px;
  vertical-align: middle;
}

#section-vs > form table td:first-of-type {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap;
  text-overflow: none;
  padding-right: 50px;
  min-width: 200px;
}

#section-vs > form table td:last-of-type {
  width: 100%;
}

#section-vs > form input {
  padding: 0;
  margin-right: 40px;
}

#section-vs > form input[type=range] {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */